<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <table>
        <tr id="<%%Ignored%>IGNORED%>" class="<%=processed="PROCESSED"%>">
            <th>Name</th>
            <th>Age</th>
        </tr>
        <% person_array.each do | person | %>
            <tr>
                <td><%= HTML.escape( person.name ) %></td>
                <td><%= person.age %></td>
            </tr>
        <% end %>
    </table>
    <a href="/time">Time</a>
</body>
</html>
