<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
        </tr>
        <% article_array.each do | article | %>
            <tr>
                <td><%= article.id %></td>
                <td><%= HTML.escape( article.title ) %></td>
            </tr>
        <% end %>
    </table>
</body>
</html>
